body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #C3ACD0;
}

h1{
    text-align: center;
    margin: 0px;
    width: 1249px;
    background-color: #190482;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    border-radius: 4px;
    color: white;
}

img {
    width: 215px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
}

h2 {
    text-align: center;
    width: 1249px;
    margin-top: 5px;
    margin-bottom:5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #190482;
    border-radius: 8px;
    color: white;
}

h5 {
    margin: 0px;
    padding-top: 10px;
}

input[type="number" i] {
    width: 1235px;
    border-color: #7469B6;
    border-radius: 4px;
    margin: 0px;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 4px;
    border-color: #7469B6;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

input[type="text" i]{
    width: 1235px;
    border-color: #7469B6;
    border-radius: 4px;
    margin: 0px;
}